<p>products works!</p>
<table class="table table-bordered">
    <tbody>
        <tr *ngFor="let product of productList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>
                <button class="btn btn-info">Info</button>
                <button class="btn btn-primary ms-1" routerLink="/product/edit/{{ product.id }}">
                    Edit
                </button>
                <button class="btn btn-danger ms-1" (click)="onRemoveItem(product.id!)">
                    Remove
                </button>
            </td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>
