<table class="table table-bordererd">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.status ? 'Còn hàng' : 'hết hàng' }}</td>
            <td>
                <button class="btn btn-danger" (click)="onHandleDelete(product.id)">Delete</button>
                <button class="btn btn-info ms-1" (click)="onHandleGetInfo(product)">Detail</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="detail" *ngIf="productDetail">
    <hr />
    <h2>Product Detail Component</h2>
    <app-product-detail [product]="productDetail"></app-product-detail>
    <router-outlet></router-outlet>
</div>
