
<nz-breadcrumb>
    <nz-breadcrumb-item>
      <i nz-icon nzType="home"></i>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/admin/projects" >
        <i nz-icon nzType="user"></i>
        <span>Dự Án</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Form</nz-breadcrumb-item>
  </nz-breadcrumb>

<h1 class="mt-4">{{ breadcrumb }}</h1>





<form (ngSubmit)="onSubmit()" class="form" #productForm="ngForm">
    <input class="form-control my-2" type="text" value="" [(ngModel)]="product.name" #name="ngModel" placeholder="Name"
        name="name" required minlength="6">
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
        <nz-alert *ngIf="name.errors?.['required']" nzType="error" nzMessage="Tên không được để trống"></nz-alert>
        <nz-alert *ngIf="name.errors?.['minlength']" nzType="error" nzMessage="Tên tối thiểu 6 ký tự"></nz-alert>
    </div>



    <input class="form-control my-2" type="file" value="{{product.image}}" [(ngModel)]="product.image" #image="ngModel" placeholder="Image"
        name="image"  [attr.required]="isImgLoad || null" (change)="changeListener($event)" >

        
    
    <div *ngIf="isImgLoad; else elseBlock">
        <nz-avatar  [nzSize]="120" [nzShape]="'square'"  nzIcon="user" nzSrc="{{product.image}}"></nz-avatar>
    </div>
    <ng-template #elseBlock>
        <nz-avatar [nzSize]="120" [nzShape]="'square'" nzIcon="user"></nz-avatar>
        <div *ngIf="image.invalid && (image.dirty || image.touched)" class="alert">
            <nz-alert *ngIf="image.errors?.['required']" nzType="error" nzMessage="Ảnh không được để trống"></nz-alert>
        </div>
    </ng-template>

    

    <nz-select class="w-[200px] mt-2" nzShowSearch nzAllowClear nzPlaceHolder="Category" ngModel="{{product.categoriesProjectId}}" [(ngModel)]="product.categoriesProjectId" #categoriesProjectId="ngModel" 
    name="categoriesProjectId" id="cate" required>
        
    <div class="" *ngFor="let data of categoryPost; let i = index ">
        <nz-option nzLabel="{{data.name}}" nzValue="{{data.id}}"></nz-option>
    </div>
    </nz-select>

    <!-- <select class="form-control my-2"  [(ngModel)]="product.categoryPostId" #categoryPostId="ngModel" 
    name="categoryPostId" id="cate" required >
        <div *ngIf="isImgLoad; else elseBlock">
            
            <div class="" *ngFor="let data of categoryPost; let i = index ">
                <option  value="{{data.id}}" selected>{{ data.name }}</option>
            </div>
            
        </div>
        <ng-template #elseBlock>
            <div class="" *ngFor="let data of categoryPost; let i = index ">
                <option value="{{data.id}}" selected>{{ data.name }}</option>
            </div>
        </ng-template>
    </select> -->

    <div *ngIf="categoriesProjectId.invalid && (categoriesProjectId.dirty || categoriesProjectId.touched)" class="alert">
      
        <nz-alert *ngIf="categoriesProjectId.errors?.['required']" nzType="error" nzMessage="Danh Mục không được để trống"></nz-alert>
    </div>
    
    <textarea class="form-control my-2" [(ngModel)]="product.short_desc" #short_desc="ngModel" placeholder="short_desc"
    name="short_desc" required maxlength="32" cols="30" rows="10">

    </textarea>
    <div *ngIf="short_desc.invalid && (short_desc.dirty || short_desc.touched)" class="alert">
        <nz-alert *ngIf="short_desc.errors?.['required']" nzType="error" nzMessage="Mô Tả Chung không được để trống"></nz-alert>
        <nz-alert *ngIf="short_desc.errors?.['maxlength']" nzType="error" nzMessage="Mô Tả Chung không được quá 32 kí tự"></nz-alert>
    </div>

    <ckeditor class="my-2" [(ngModel)]="product.desc" #desc="ngModel" name="desc" required   data=""></ckeditor>
    <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert">
        <nz-alert *ngIf="desc.errors?.['required']" nzType="error" nzMessage="Nội Dung Chi Tiết không được để trống"></nz-alert>
    </div>

    <button type="submit" class="btn btn-primary mt-4" [disabled]="!productForm.valid">Submit</button>
</form>

