<section class="mt-8 md:mt-[135px]">
    <div class="container">
        <div *ngIf="userProfile" class="flex flex-wrap items-center justify-between w-full mx-0 bg-white md:mx-12">
            <div class="order-2 sm:text-left md:basis-3/5 md:order-1">
                <h2 class="mt-12 text-5xl ">
                    Hi, I am <span class=" text-primary2 ">{{ userProfile.name }}</span>,
                    <span class="block md:mt-4">{{ userProfile.position }}</span>
                </h2>
                <p class="mt-10 text-xl">
                    {{ userProfile.about }}
                </p>
                <button  (click)="downloadCV(userProfile.cv)" class="px-4 py-2 text-2xl text-white bg-primary2 ">
                    

                        Download Resume
                   
                </button>
            </div>
            <div class="flex justify-center w-full md:basis-2/5 md:order-2 md:justify-end">
                <img src="https://picsum.photos/200/300" alt=""
                    class="h-[200px] w-[200px]   md:h-[285px] md:w-[285px] rounded-full">
            </div>
        </div>

    </div>

</section>

<section class="bg-[#EDF7FA] mt-12 pt-2 pb-12  md:px-28 ">
    <div class="flex items-center justify-center w-full py-6 md:justify-between ">
        <div class="text-2xl">
            Resent posts
        </div>
        <div class="hidden text-secondry2 md:block ">
            <a routerLink="/blog">
                View all
            </a>
        </div>
    </div>
    <div class="">
        <div *ngIf="post" class="grid items-center w-full grid-rows-2 gap-4 mx-0 md:mx-8 md:grid-cols-2 ">
            <div *ngFor="let data of post; let i = index " class="p-4 mx-2 bg-white md:mx-0">
                <a class="text-black" routerLink="/blog">
                    <h2 class="text-3xl font-bold">{{data.title }}</h2>
                    <div class="mt-4 text-xl">
                        <span>{{data.createAt }}</span> | <a routerLink="/blog"
                            class="text-black">{{data.categoriesPost.name }}</a>

                    </div>
                    <p class="mt-8 text-lg">
                        {{data.short_desc }}
                    </p>
                </a>
            </div>

        </div>

    </div>
</section>

<section class="mt-8 ">
    <div class="container">
        <div *ngIf="post" class="w-full bg-white ">
            <!-- <div class=""> -->
            <h2 class="text-2xl md:text-left text-center">Featured works</h2>
            <!-- </div> -->
            <div *ngFor="let data of project; let i = index "
                class="flex flex-wrap justify-center mt-4 border-b-2 border-[#E0E0E0] pb-3 ">
                <div class="md:basis-1/3 ">
                    <a routerLink="/work/{{ data.id }}">
                        <img src="{{ data.image }}" alt=""
                            class="h-[300px] w-screen md:h-[200px] md:w-[320px] rounded-md">
                    </a>
                </div>
                <div class="md:basis-2/3 ">
                    <a class="text-black" routerLink="/work/{{ data.id }}">
                        <h2 class="mt-4 text-3xl text-[#21243D] font-bold md:mt-0">{{ data.name }}</h2>
                        <div class="">
                            <button class="bg-[#142850]  px-3 rounded-3xl text-xl text-white">
                                2022
                            </button>
                            <span class="text-[#8695A4] text-xl ml-4">
                                {{ data.categoriesProject.name }}
                            </span>
                        </div>
                        <p class="mt-4 text-lg">
                            {{ data.short_desc }}
                        </p>
                    </a>
                </div>
            </div>

        </div>

    </div>

</section>