

<h1>{{ breadcrumb }}</h1>

<!-- <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="onSubmit()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="userName" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
      </div>
      <div nz-col [nzSpan]="12">
        <a class="login-form-forgot">Forgot password</a>
      </div>
    </div>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
    Or
    <a>register now!</a>
  </form> -->


<form (ngSubmit)="onSubmit()" class="form" #productForm="ngForm">
    <input class="form-control" type="text" value="" [(ngModel)]="product.name" #name="ngModel" placeholder="Name"
        name="name" required minlength="6">
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
        <p *ngIf="name.errors?.['required']">Tên không được để trống</p>
        <p *ngIf="name.errors?.['minlength']">Tên tối thiểu 6 ký tự</p>
    </div>
    <input class="form-control" type="number" value="" [(ngModel)]="product.price" #price="ngModel" placeholder="Price"
        name="price" required>
    <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert">
        <p *ngIf="price.errors?.['required']">Giá không được để trống</p>
    </div>
    <input class="form-control" type="text" value="" [(ngModel)]="product.description" #description="ngModel"
        placeholder="Description" name="description" required maxlength="32">
    <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert">
        <p *ngIf="description.errors?.['required']">Mô tả không được để trống</p>
        <p *ngIf="description.errors?.['maxlength']">Mô tả tối đa 32 ký tự</p>
    </div>
    <!-- <div *ngIf="productForm.form.dirty" class="text-danger">
        <p *ngIf="name.errors?.['required']">Tên không được để trống</p>
        <p *ngIf="name.errors?.['minlength']">Tên tối thiểu 6 ký tự</p>
        <p *ngIf="price.errors?.['required']">Giá không được để trống</p>
        <p *ngIf="description.errors?.['required']">Mô tả không được để trống</p>
        <p *ngIf="description.errors?.['maxlength']">Mô tả tối đa 32 ký tự</p>
    </div> -->

    <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
</form>